<p>Edit Student Form</p>

<form class="" action='/students/<%= @student.id %>' method='post'

<label for='first-name'>First Name:</label>
  <input id='first-name' type='text' name='first_name'/>
</br>

<label for='last-name'>Last Name:</label>
  <input id ='last-name' type='text' name='last_name'/>
</br>

<label for='age'>Age:</label>
<input id='age' type='int' name='age'/>
</br>

<label for="house-select">Select House:</label>
<select name="house_id" id="house-select">
  <option value="1">Gryffindor</option>
  <option value="2">Hufflepuff</option>
  <option value="3">Ravenclaw</option>
  <option value="4">Slytherin</option>
</select>
</br>
<input type='submit' value='Updating Students account'/>
</form>
